networks:
  default:
    name: reverse-proxy
    external: true
services:
  app:
    image: 'jc21/nginx-proxy-manager:latest'
    container_name: 'nginxpm-app'
    restart: unless-stopped
    ports:
      - '80:80' # Public HTTP Port
      - '443:443' # Public HTTPS Port
      - '81:81' # Admin Web Port
      # default login nginx-pm: admin@example.com / changeme
    healthcheck:
      test: ["CMD", "/usr/bin/check-health"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 60s
    environment:
      DB_SQLITE_FILE: "/data/npm-database.sqlite"
      # Uncomment this if IPv6 is not enabled on your host
      # DISABLE_IPV6: 'true'
    volumes:
      - /appdata/nginx/data:/data
      - /appdata/nginx/letsencrypt:/etc/letsencrypt
    networks:
      - default
