services:
  vaultwarden:
    image: vaultwarden/server:latest
    container_name: vaultwarden
    restart: always
    environment:
      DOMAIN: {{ vw_domain }}  # required when using a reverse proxy; your domain; vaultwarden needs to know it's https to work properly with attachments
      SIGNUPS_ALLOWED: "true" # Deactivate this with "false" after you have created your account so that no strangers can register
      ADMIN_TOKEN: {{ vw_admintoken }}
      WEBSOCKET_ENABLED: "true" # Enable WebSocket notifications
      ROCKET_PORT: 83
    volumes:
      - /appdata/vw-data:/data # the path before the : can be changed
    networks:
      - reverse-proxy
networks:
  reverse-proxy:
    external: true
    name: reverse-proxy
